<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.soundbrowser" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="17" />

	<application android:name="com.soundbrowser.controller.AppController"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Styled"
		>
		 <!-- android:theme="@style/AppTheme" -->
        <!--activity android:name=".MainActivity" android:label="@string/app_name">
        <activity android:name=".ormlite.HelloAndroidOracleJdbc" android:label="@string/app_name"-->
        <!--activity android:name=".EntryPoint" android:label="@string/app_name"-->
        <!--activity android:name=".activities.MyActionBarActivity" android:label="@string/app_name"-->
		<activity
            android:configChanges="keyboardHidden|orientation"
            android:name=".activities.AndroidTabAndListView"
            android:label="@string/app_name" >
			<!--meta-data android:name="android.app.searchable"
					   android:resource="@xml/searchable" /-->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
		
		<!-- Podcast Activity -->
        <activity android:name=".activities.PodcastActivity" />
		<!-- Outbox Activity -->
        <activity android:name=".activities.OutboxActivity" />

		<!--activity android:name=".activities.SearchResultsActivity">
			<intent-filter>
				<action android:name="android.intent.action.SEARCH" />
			</intent-filter>
		</activity-->
		
		<!--
			In this example set the Activity to have a split action bar when the device's
			display is narrow. In ActionBarCompat this is done by setting the
			'android.support.UI_OPTIONS' metadata field to 'splitActionBarWhenNarrow'.
		-->
		<meta-data android:name="android.support.UI_OPTIONS"
                   android:value="splitActionBarWhenNarrow" />

		<!--receiver android:name=".EntryPoint.VolumeBroadcastReceiver">
            <intent-filter>
                <action android:name="android.media.VOLUME_CHANGED_ACTION" >
                </action>
            </intent-filter>
        </receiver-->
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="com.android.vending.CHECK_LICENSE" />
	<!--uses-permission android:name="android.permission.WAKE_LOCK" /-->
</manifest>
